@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* share style */
.display-flex {
    display: flex;
}

/* color style */

.menu-color1 {
    color: rgba(137, 135, 161, 1);
}

.menu-color2 {
    color: rgba(37, 36, 50, 1);
}

.darck-black {
    color: rgba(17, 17, 17, 1);
}

.black-color {
    color: rgba(0, 0, 0, 1);
}

.light-black-color {
    color: rgba(0, 0, 0, 0.5);
}

.orange-color {
    color: rgba(233, 90, 8, 1);
}

.titel {
    font-size: 50px;
    font-weight: bold;

}


/* header style */

/* navbar */
.navbar {
    align-items: center;
    justify-content: space-between;
    margin: 50px 370px;
}

nav ul {
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-left: 48px;

}

nav li a {
    text-decoration: none;
    font-size: 16px;
}

.logo-image {
    width: 135px;
    height: 82px;
}

.cart {
    align-items: center;
    gap: 5px;
}

/* banner */
.banner {

    justify-content: space-between;
    margin: 210px 370px;

}

.banner-content {
    max-width: 570px;


}

.banner-titel {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;


}

.banner-description {
    font-size: 22px;
    text-align: left;
    margin-top: 0px;
}

.banner-image {
    width: 590px;

}

/* main style  */

/* plant section  */

.plant-card-section {
    max-width: 1170px;
    margin: 0 auto;
}

.plant-section {
    text-align: center;
    margin-bottom: 20px;
    /* padding: 130px 150px; */
}


.plant-description {

    font-size: 22px;
    width: 888px;
    height: 54px;
    margin: auto;

}

/* card section */

.card {
    width: 270px;
    height: 484.94px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25);
    font-size: 22px;
    margin-bottom: 50px;
}

.card-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.card-image {
    width: 270px;
    height: 322.94px;
}

.card-titel1 {
    font-size: 22px;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.25);
}

.card-titel2 {
    font-size: 22px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.25);
}

.card-button {
    background-color: rgba(233, 90, 8, 1);
    padding: 19px 90px;
    border: none;
    color: rgba(255, 255, 255, 1);
}

/* plants lover section */

.plant-lover-titel {
    margin-bottom: 0;
}

.plant-lover-list {
    padding: 20px 0;
}

.plant-lover-container {
    padding-top: 50px;


}
.plant-lover-section {
    width: 1140px;
    height: 597px;
    margin: 210px auto;
    gap: 60px;
    justify-content: center;

}

.plant-lover-description {
    padding: 24px;
    font-size: 22px;

}
.trusted-badge{
    width:  286px;
    height: 286px;
    display: block;
    margin-left: -250px;
    margin-top: -750px;
}

/* join section */
.join-container {
    background-image: url('../image/news-letter-bg.png');
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    gap: 23px;

}

.join-input-form {
    display: flex;
    align-items: center;
    justify-content: center;

}

.join-titel {
    color: rgba(255, 255, 255, 1);
}

.join-button {
    background-color: rgba(233, 90, 8, 1);
    border: none;
    padding: 17px 50px;
    color: rgba(255, 255, 255, 1);

}

.join-input {

    height: 48px;
    background-color: white;
    display: block;
    width: 644px;
    padding: 10px 20px;
    border: none;
}

/* footer style */
footer{
    justify-content: center;
    align-items: center; 
}

.footer-container{
    width: 1120px;
    height: 248px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin: 50px auto;
    gap: 110px;
    
    
}
.footer-logo-description{
    font-size: 22px;
    width: 310px;
    height: 179px;
}
.footer-features a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(107, 114, 128, 1);
}
footer ul li{
    list-style: none;
    margin-bottom: 32px;
}
.footer-icon{
    width: 36px;
    height: 36px;
    gap: 24px;
    align-items: center;
}


@media screen and (max-width:576px) {

    /* share item */
    .titel {
        font-size: 24px;
    }

    /* body responsive */
    /* nav section responsive */

    .navbar {
        margin: 0;
        padding: 20px;
    }

    .cart {
        width: 113px;
        height: 24px;

    }

    .logo-image {
        width: 63px;
        height: 38px;
    }

    .item {
        display: none;
    }

    /* banner section responsive */
    .banner {
        flex-direction: column-reverse;
        margin: 0;
        text-align: left;
    }

    .banner-image {
        width: 100%;
        height: 250px;
    }

    .banner-titel {
        font-size: 24px;
    }

    .banner-description {
        font-size: 14px;
    }

    .banner-content {
        width: 390px;
        height: 100px;
        padding: 20px;
    }

    /* plant section responsive */

    .plant-section {
        margin-top: 90px;

    }


    .plant-description {
        font-size: 14px;
        width: 336px;
        height: 68px;
    }

    /* card section responsive */
    .card-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .card {
        width: 180px;
        height: 340.5px;
        margin: 20px auto;
    }

    .card-image {
        width: 170px;
        height: 340.5px;
    }

    .card-image {
        width: 170px;
        height: 196.5px;
    }

    .card-titel1 {
        font-size: 16px;
    }

    .card-titel2 {
        font-size: 16px;
    }

    .card-button {
        padding: 10px 42px;

    }

    .vanish-card {
        display: none;
    }

    /* plants lover responsive */

    .plant-lover {
        margin-bottom: 0;
    }

    .plant-lover-titel {
        padding-left: 5px;
        padding-top: o;
    }

    .plant-lover-container {
        padding-top: 0;

    }

    .plant-lover-description {
        padding-left: 27px;
        padding-top: 0;

    }

    .plant-lover-section {
        flex-direction: column;
        height: 648px;
        width: 361px;
    }
    .trusted-badge{
        display: none;
    }

    /* join section responsive */

    .join-container {
        height: auto;
        padding: 70px 0;
    }

    .join-input-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .join-titel {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .join-input {
        height: 50px;
        width: 250px;
        font-size: 14px;
        padding: 3px 40px;
    }

    .join-button {
        width: 20px 20px;
        padding: 10px 20px;
        height: 50px;
        font-size: 14px;

    }
    /* footer responsive */

    .footer-container{
        width: 359px;
        height: 765px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer-logo-description{
        width: 359px;
        height: 173px;
    }

    .footer-logo{
        width: 180px;
        height: 109px;
    }




}