@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color style */
.menu-color1 {
    color: rgba(137, 135, 161, 1);
}
.menu-color2 {
    color:  rgba(37, 36, 50, 1);
}
.black-color{
    color: rgba(0, 0, 0, 1);
}
.orange-color{
    color: rgba(233, 90, 8, 1);
}
.light-black-color{
    color: rgba(0, 0, 0, 0.5);
}

/* share style */
.display-flex{
    display: flex;
}


/* header style */

/* navbar */
.navbar{
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul{
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 48px;
    
}
nav li a{
    text-decoration: none;
    font-size: 16px;
}
.logo-image{
    width: 135px;
    height: 82px;
}
.cart{
    align-items: center;
    gap: 5px;
}

/* banner */
.banner{
    
    justify-content: space-between;
    margin: 210px 200px;
    
}
.banner-content{
    max-width: 570px;
    
    
}

.banner-titel{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;


}
.banner-discription{
    font-size: 22px;
    text-align: left;
    margin-top: 0px;
}
.banner-image{
    width: 590px;
    
}

/* main style  */

/* plant section  */

.plant-section{
    text-align: center;
    /* padding: 130px 150px; */
}

.plant-titel {
    font-size: 50px;
    font-weight: bold;
    
}

.plant-description {
    
    font-size: 22px;
    width: 888px;
    height: 54px;
    margin: auto;
    
}






@media screen and (max-width:576px) {
    /* nav section responsive */

     .navbar{
        margin-left: 0;
        margin: 0;
        padding: 0;
        gap: 45px;
    }
     nav ul li{
        margin-right: 0;
    
    }
    .logo-image{
        width: 63px;
        height: 38px;
    }

     .item{
        display: none;
    }
    /* banner section responsive */
    .banner{
        flex-direction: column-reverse;
        margin: 0;
        text-align:left ;
    }
    .banner-image{
        width: 400px;
        height: 250px;
    }
    .banner-titel{
        font-size:24px ;
    }
    .banner-discription{
        font-size: 14px;
    }
    .banner-content{
        width: 390px;
        height: 100px;
    }
    /* plant section responsive */

    .plant-section{
        margin-top: 100px;
    }

    .plant-titel{
        font-size: 24px;
    }

    .plant-description{
        font-size: 14px;
        width: 336px;
        height: 68px;
    }



}
